.ReactModalPortal > div {
  opacity: 0;
  background-color: aquamarine;
}

.ReactModalPortal .ReactModal__Overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 200ms ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
  opacity: 50;
}

.ReactModalPortal .ReactModal__Overlay--before-open {
  opacity: 0;
  background-color: black;
}

.modal {
  background: #ffffff;
  width: 50rem;
  height: 85rem;
  border-radius: 12px;
  backdrop-filter: 2px;
  border: 0;
  outline: none;
}
.modal-backdrop {
  background-color: white;
}
