.body{
    width: 100%;
    margin-top: 5rem;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}
.body .usercards:first-child{
    margin-left: 0; 
}
.body .usercards:nth-child(5n){
    margin-right:0;
}

.card {
    padding: 16px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
    border-radius: 10px;
    text-align: center;

  }

  .column {
    float: left;
    width: 25%;
    padding: 0 5px;
}

.row{
    margin: 0 -5px;
}
.row::after{
    content: "";
    display: table;
    clear: both;
}

@media only screen and (max-width: 800px) {
    .body{
        align-items: center;
    }

    .card{
        width: 100%;
    }
    
}