.footer {
  display: block;
  position: absolute;
  height: 200px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  background: transparent;
}

.section {
  float: left;
  width: 25%;
  height: 400px;
}
.footer_list {
  list-style-type: none;
}
