.footer {
  display: block;
  position:sticky;
  height: 200px;
  width: 100%;
  text-align: center;
  background-color:  $sweet-red;
  
}

.section {
  float: left;
  width: 25%;
  height: 100%;
  color: black;
  margin-top: 30px;
  
}
.footer_list {
  list-style-type: none;
  
}
.section a {
  color: white;
}