
.navbar{
    padding:1.6rem 0;
    background: transparent;
}

.spacer{
    flex: 60%;
}
.navbar-brand{
    font-size:2.9rem;
    margin:0;
    padding-left: 20px;
    color: $sweet-red;
}

.navbar-custom{
    background: $snow-white;
    padding:1.6rem 0;
}

.navbar-expand-md{
    background: transparent;
}

.nav-link{
    color: $raisin-black;
}

  .navbar span.navbar-toggler-icon{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='black' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }