@import './base/settings';
@import './base/base';
@import './components/footer';
@import './components/header';
@import './modal/modal';
@import './components/action';
@import './components/body';

.usercards{
    width: 16rem;
    float: left;
    height: 10rem;
    border-style: solid;
    border-radius: 10px;
    border-color: grey;
    margin: 5px;
    
}
.menu-icon{
    height: 30px;
    width: 30px;
    background: black;
    background-image: url("../Images/menu-icon.png")
}
@media only screen and (max-width: 800px) {
    
    .spacer{
        flex: 100%;
    }

    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }

}